@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap");

* {
  --vw: min(1vh, 1vw);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f6fbfe;
  color: #041d2f;
}
.word-display-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(10 * var(--vw));
}
.word-display {
  display: flex;
  flex-direction: row;
  gap: calc(1 * var(--vw));
}
.word-display-character {
  font-size: calc(4 * var(--vw));
  font-weight: medium;
  margin: 0 5px 0 5px;
  padding: 0;
  text-align: center;
  font-family: Montserrat;
}
.word-display-character-underline {
  height: calc(0.3 * var(--vw));
  width: 100%;
  border-radius: calc(0.2 * var(--vw));
  background-color: #041d2f;
  align-self: flex-end;
}
.word-display-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(5 * var(--vw));
  gap: calc(0.6 * var(--vw));
}
.keyboard {
  font-size: #041d2f;
  width: calc(60 * var(--vw));
}

.keyboard button {
  background-color: #f6fbfe;
  border: none;
  font-family: montserrat;
  font-size: calc(2.6 * var(--vw));
  color: #041d2f;
  width: calc(4.5 * var(--vw));
  height: calc(4.5 * var(--vw));
  text-align: center;
  transition: background-color 0.2s, color 0.3s;
  outline: none !important;
  border-radius: calc(0.2 * var(--vw));
}
.keyboard-button-enabled:hover {
  /*color: #39a0ed; 
  background-color: #C7E4FA;*/
}
.keyboard-button-correct {
  color: #17b890 !important;
}
.keyboard-button-incorrect {
  color: #ff8360 !important;
}
.win-message {
  color: #17b890;
}
.lose-message {
  color: #ff8360;
}

.msg-container {
  font-family: montserrat;
  font-weight: bold;
  font-size: calc(4 * var(--vw));
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--vw));
  align-items: center;
}
.msg-container button {
  background-color: #f6fbfe;
  color: #39a0ed;
  border: calc(0.2 * var(--vw)) solid #39a0ed;
  outline: none;
  padding: calc(1 * var(--vw)) calc(2 * var(--vw));
  font-family: montserrat;
  font-weight: normal;
  font-size: calc(2 * var(--vw));
  border-radius: calc(0.8 * var(--vw));
}

.red {
  color: #ff8360;
}
.green {
  color: #17b890;
}